@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
/* NAV BAR */
#navBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 85px;
    width: 100%;
    padding: 10px;
    background: linear-gradient(#3a3a3a, transparent);
    position: fixed;
    transition: 0.5s;
}
#navBar.scroll {
    background: linear-gradient(#517a1b, #517a1b); /* Altere para a cor desejada */
}
#navBar.scroll .navItems:hover {
    color: #a1d162;
} 
#navBar.scroll #reserveBtn {
    background-color: white;
    color: #517a1b;
} 
#navBar.scroll #reserveBtn:hover {
    background-color: #6b9b2c;
    color: white;
} 
/* #517a1b */
#navBar a {
    text-decoration: none;
}
#logo {
    height: 130px;
    width: 130px;
}

#navBarList {
    display: flex;
    list-style: none;
    cursor: pointer;
}
#navBarList a {
    text-decoration: none;
}
.navItems {
    padding: 0px 30px;
    font-size: 20px;
    color: white;
    transition: 0.5s;
}
.navItems:hover {
    color: #a1d162;
}
#reserveBtn {
    background-color: #517a1b;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
}
#reserveBtn:hover {
    background-color: white;
    color: #517a1b;
}
.mainContainer {
    display: flex;
    justify-content: flex-end;
    height: 120vh;
    background: url(./img/imgHotel4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#titleMessage {
    margin: 200px 30px;
    font-size: 55px;
    color: #3a5516;
}
#titleMessage strong {
    color: white;
}
#subtitleMessage {
    margin: -160px 30px;
    font-size: 25px;
    color: white;
}
#subtitleMessage strong {
    color: #3a5516;    
}




::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  border: 1px solid transparent;
  background: #517a1b;
}
html {
  scroll-behavior: smooth;
}